.feedback {
    display: flex;
    justify-content: center;
}

.call-form {
    display: flex;
    flex-direction: column;
    background-color: #F4F4F4;
    padding-top: 78px;
    padding-bottom: 82px;
    padding-left: 30px;
    padding-right: 30px;
}

.request-title {
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
    color: var(--secondary-text-color);

    margin-bottom: 34px;
}

.form {
    background-color: var(--primary-text-color);
    border: 1px solid #F5F5F5;
    margin-bottom: 36px;
}

input[placeholder] {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    color: #808080;
}

.email {
    margin-bottom: 60px;
}

.send-btn {
    background-color: var(--accent-color);
    border-radius: 5px;
    border: none;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: var(--primary-text-color);

    padding-top: 7px;
    padding-bottom: 10px;
}

.form:hover,
.form:focus {

    border: 1px solid var(--accent-color);
}